{% extends "base.html" %}
{% block title %}Countdown{% endblock %}
{% block header %}Countdown{% endblock %}
{% block content %}
<div class="card mx-auto text-bg-primary" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text fs-1">04:45:07</p>
    <p class="card-text">Until <span class="fs-2">8:00 PM</span></p>
  </div>
</div>
<br>
<p>שמע ישראל יי אלהינו יי אחד</p>
<p>Sh'ma Yisra-eil, Adonai Eloheinu Adonai Echad.
<br>
Hear, O Israel, Adonai is our God, Adonai is One!</p>
<br>
<p>ברוך שם כבוד מלכותו לעולם ועד</p>
<p>Baruch sheim k'vod malchuto l'olam va-ed.
<br>
Blessed is God's glorious majesty forever and ever.</p>
{% endblock %}